.content{
	background-color:#050100;	
	text-align: center;
	padding:120px;
}
.content h1,p{
	color:#EEEDE9;
	font-weight:bold;
	
}
.content1{
	background-color:#EEEDE9;
	text-align: center;
	height:300px;
	padding:10px;
}
.content1 h1{
	font-weight:bold;
}
.content1 p{
	color:#050100;
	font-size:20px;
}
.content2{
	background-color:#2C3E50;
	height:400px;
	text-align: center;
}
.content2 img{
	width:200px;
	height:150px;
	
}
.content2 li{
	  display: list-item;
	  float:left;
	  
}
.content2 ul{
	list-style:none;
	float:left;
	margin-left:250px;
}
.card{
	position:relative;
	width:200px;
	height:350px;
	padding:25px;
	
}



.left_card, .right_card{
	background: #2690d4;
	width:50%;
	
}
.footer{
	background-color:black;
	text-align:center;
	height:100px;
}
    


